<p>product-form works!</p>
<div class="form-container">
    <form [formGroup]="productForm">

        <div
            mat-dialog-content
            *ngFor="let field of formControlNames"
            class="form-container"
        >
            <mat-form-field appearance="fill">
                <mat-label>{{field}}</mat-label>
                <input
                    matInput
                    [formControlName]="field"
                >
                <mat-error *ngIf="productForm.get(field)!.touched && productForm.get(field)!.hasError('required')">This field is required</mat-error>
            </mat-form-field>

        </div>

        <!-- ng-content => content projection tutaj -->

        <ng-content (click)="acceptChanges()"></ng-content>

        <button
            class="mat-raised-button"
            (click)="close()"
        >
            Close
        </button>

    </form>

</div>
