<div class="mat-elevation-z8 full-width-table">
    <table
        #abstractTable
        mat-table
        [dataSource]="dataSource"
        matSort
    >
        <!-- (matSortChange)="sortTableData($event)" -->

        <ng-container
            class="column"
            *ngFor="let column of tableColumns"
            [matColumnDef]="column.name"
        >

            <ng-container *ngIf="column.isSortable; else nonSortable">
                <th
                    mat-header-cell
                    *matHeaderCellDef
                    [mat-sort-header]="column.name"
                    [arrowPosition]="column.position === 'right' ? 'before' : 'after'"
                >
                    {{column.name}}
                </th>
            </ng-container>

            <ng-template #nonSortable>
                <th
                    mat-header-cell
                    *matHeaderCellDef
                >
                    {{column.name}}
                </th>
            </ng-template>

            <!-- COLUMN DATA -->

            <td
                class="row"
                mat-cell
                *matCellDef="let element"
            >
                {{element | dataKey: column.dataKey}}
            </td>

            <!-- próby -->

        </ng-container>

        <ng-container
            *ngIf="removeButton?.length"
            [matColumnDef]="removeButton"
        >
            <th
                mat-header-cell
                *matHeaderCellDef
            >
                Remove Item
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                [id]="removeButton"
                (click)="removeItem(element.id)"
            >
                <button mat-raised-button>Remove</button>
            </td>
        </ng-container>

        <ng-container
            *ngIf="editButton?.length"
            [matColumnDef]="editButton"
        >
            <th
                mat-header-cell
                *matHeaderCellDef
            >
                Edit
            </th>
            <td
                mat-cell
                *matCellDef="let element"
                [id]="editButton"
                (click)="editItem(element)"
            >
                <button mat-raised-button>Edit</button>
            </td>
        </ng-container>

        <!-- <ng-content select=".definicja"></ng-content> -->
        <!-- <ng-content select=".remove"></ng-content> -->
        <div *ngFor="let columnName of additionalColumns">
            <ng-content select=".columnName"></ng-content>
        </div>

        <tbody>
            <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns"
            ></tr>
            <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns;"
            ></tr>

        </tbody>

    </table>

    <mat-paginator
        *ngIf="isPageable"
        [pageSizeOptions]="paginationSizes"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
    >
    </mat-paginator>
</div>
