<h3>Add new company:</h3>
<form
    [formGroup]="companyForm"
    (submit)="onSubmit()"
>

    <table
        class="example-full-width"
        cellspacing="0"
    >
        <tbody>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Company name</mat-label>
                        <input
                            matInput
                            [formControl]="companyNameCtrl"
                        >
                        <mat-error *ngIf="companyNameCtrl.touched && companyNameCtrl.hasError('required')">This field is required</mat-error>

                    </mat-form-field>

                </td>

                <td>

                    <mat-form-field appearance="fill">
                        <mat-label>Business Type</mat-label>
                        <mat-select
                            [formControl]="companyBusinessTypeFormCtrl"
                            placeholder="Type of business"
                        >
                            <mat-option
                                [value]="business.value"
                                *ngFor="let business of typeOfBusinessSelectOptions"
                            >
                                {{business.viewValue}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="companyBusinessTypeFormCtrl.touched && companyBusinessTypeFormCtrl.hasError('required')">This field is required</mat-error>
                    </mat-form-field>
                </td>
            </tr>
        </tbody>
    </table>
    <mat-divider></mat-divider>

    <div class="add-employee-form">

        <ng-container formArrayName="companyEmployees">

            <ng-container *ngFor="let employeeForm of companyEmployeesControls; let i = index;">
                {{employeeForm.value[0] | json}}
                <div
                    class="employee-form-row"
                    [formGroupName]="i"
                >
                    <div *ngIf="i > 0; then secondEmployeeTemplate  else firstEmployeeTemplate"></div>

                    <ng-template #firstEmployeeTemplate>
                        <app-employee-form
                            [employeeForm]="employeeForm"
                            [employeeIndex]="i"
                            (formDeletedEmitted)="handleEmployeeFormDelete($event)"
                        ></app-employee-form>
                    </ng-template>

                    <ng-template #secondEmployeeTemplate>
                        <app-employee-form
                            [employeeForm]="employeeForm"
                            [employeeIndex]="i"
                            [canBeDeleted]="true"
                            (formDeletedEmitted)="handleEmployeeFormDelete($event)"
                        ></app-employee-form>
                    </ng-template>

                </div>

            </ng-container>

        </ng-container>

        <div>
            <button
                mat-raised-button
                color="primary"
                type="button"
                (click)="addEmployeeForm()"
            >
                Add employee
                <mat-icon class="add-employee-btn">add</mat-icon>
            </button>
        </div>
    </div>

    <button
        [disabled]="companyForm.invalid"
        mat-raised-button
        color="primary"
        type="submit"
    >
        {{ companyData | buttonName}}
    </button>
</form>
