/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 20px 20px 0 0 ; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-form-field-placeholder {
    display:block !important;
    padding: 0px !important;

}

.mat-typography{
  margin-left: 30px;
}
