<table
    mat-table
    [dataSource]="tableDataSource"
>

    <ng-container
        *ngFor="let columnName of tableColumnsDefinition"
        [matColumnDef]="columnName.name"
    >

        <ng-container>
            <th
                mat-header-cell
                *matHeaderCellDef
            >
                {{columnName.name }}
            </th>

            <td
                mat-cell
                *matCellDef="let element"
            >
                {{element | objectPropertyGetter: columnName.dataKey}}
                <ng-content #name></ng-content>
            </td>
        </ng-container>

    </ng-container>

    <tbody>
        <tr
            mat-header-row
            *matHeaderRowDef="columnsToDisplay"
        >
        </tr>
        <tr
            mat-row
            *matRowDef="let myRowData; columns: columnsToDisplay"
        >

        </tr>

    </tbody>
</table>
