<div *ngIf="dataToView">

    <div>
        Data valid for: {{dataToView.timeStamp | date : 'long' }}
    </div>

    <mat-list>

        <div>
            <button
                mat-raised-button
                (click)="refreshData()"
            >
                Refresh data
            </button>
        </div>

        <mat-list-item>
            <mat-icon mat-list-icon>date_range</mat-icon>
            Opening time: {{dataToView.coinData.time_open |date : 'medium'}}
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <mat-icon>attach_money</mat-icon>
            Opening value: {{dataToView.coinData.open}}
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <mat-icon>arrow_downward</mat-icon>
            Lowest: {{dataToView.coinData.low}}
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <mat-icon>arrow_upward</mat-icon>
            Highest: {{dataToView.coinData.high}}
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <mat-icon>close</mat-icon>
            Closing time: {{dataToView.coinData.time_close |date : 'medium'}}
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <mat-icon>money</mat-icon>
            Closing value: {{dataToView.coinData.close}}
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <mat-icon>account_balance</mat-icon>
            Market cap: {{dataToView.coinData.market_cap}}
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <mat-icon>aspect_ratio</mat-icon>
            Volume: {{dataToView.coinData.volume}}
        </mat-list-item>

        <mat-divider></mat-divider>
    </mat-list>

</div>
