<div [formGroup]="parentForm">
    <div>
        <tbody>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Email adress details</mat-label>
                        <input
                            name="Email adress details"
                            matInput
                            type="text"
                            [formControl]="contactTypeEmailCtrl"
                        >
                    </mat-form-field>
                </td>
            </tr>
        </tbody>
    </div>

</div>
