<mat-sidenav-container class="example-container">
    <mat-sidenav
        class="side-nav"
        mode="side"
        opened
    >
        <mat-list dense>
            <mat-list-item>
                <button
                    [routerLink]="['/product']"
                    routerLinkActive="active"
                    mat-raised-button
                >
                    Product Module
                </button>
            </mat-list-item>

            <mat-list-item>
                <button
                    [routerLink]="['/wholesaler']"
                    routerLinkActive="active"
                    mat-raised-button
                >
                    Warehouse Module
                </button>
            </mat-list-item>
        </mat-list>

    </mat-sidenav>

    <mat-sidenav-content class="main-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
