<mat-toolbar
    color="primary"
    *ngIf="companyList$ | async as companyList"
>
    <mat-toolbar-row *ngFor="let company of companyList">
        <span>Company name: {{company.name}}</span>
        ,
        <span>
            Type of business: {{company.typeOfBusiness}}
        </span>
        ,
        <span>
            Employee amount: {{company.companyEmployees.length}}
        </span>

        <button
            mat-raised-button
            [routerLink]="['editCompany', company.id]"
            routerLinkActive="active"
        >
            Edit Company Data
        </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <button
            mat-raised-button
            routerLink="./registerNewCompany"
            routerLinkActive="active"
        >
            Register new company
        </button>
    </mat-toolbar-row>

</mat-toolbar>
<!--  -->

<router-outlet></router-outlet>
