<nav *ngIf="companyList$ | async">
    <mat-card *ngFor="let company of companyList$ | async ; let i = index">
        <div mat-button>{{i + 1}} {{company | json}}</div>
        <button
            mat-raised-button
            color="accent"
            [routerLink]="['editCompany', i]"
            routerLinkActive="active"
        >
            Edit Company
        </button>
        <mat-divider></mat-divider>
    </mat-card>

    <button
        mat-raised-button
        color="accent"
        routerLink="./registerNewCompany"
        routerLinkActive="active"
    >
        Register new company
    </button>
</nav>

<router-outlet></router-outlet>
