<tr
    class="container"
    [style.background-color]="contact.backgroundColor"
>
    <div>
        name: {{contact.name}}, type: {{contact.type}},
        <div *ngIf="contact.adressAdditionalInfo !== undefined">
            {{contact.adressAdditionalInfo.street}}, {{contact.adressAdditionalInfo.streetNumber}}, {{contact.adressAdditionalInfo.homeNumber}}
        </div>
        <div *ngIf="contact.emailAdditionalInfo !== undefined">{{contact.emailAdditionalInfo}}</div>
        <div *ngIf="contact.phoneAdditionalInfo !== undefined">{{contact.phoneAdditionalInfo}}</div>
        <button
            mat-raised-button
            [routerLink]="['/editContact', contactIndex]"
        >
            Edytuj
        </button>

        <button
            (click)="handleMessageSend()"
            mat-raised-button
        >
            {{contact.type | MessageDisplayValue}}
        </button>
    </div>
</tr>
