<tr class="container">
    <mat-card [style.background-color]="contact.backgroundColor">
        <mat-card-title>
            {{contact.name}}, type: {{contact.type}}
        </mat-card-title>
        <mat-card-subtitle *ngIf="contact.adressAdditionalInfo !== undefined">
            <div *ngIf="contact.adressAdditionalInfo !== undefined">
                {{contact.adressAdditionalInfo.street}}, {{contact.adressAdditionalInfo.streetNumber}}, {{contact.adressAdditionalInfo.homeNumber}}
            </div>
            <div *ngIf="contact.emailAdditionalInfo !== undefined">{{contact.emailAdditionalInfo}}</div>
            <div *ngIf="contact.phoneAdditionalInfo !== undefined">{{contact.phoneAdditionalInfo}}</div>
        </mat-card-subtitle>

        <mat-card-actions>
            <button
                mat-raised-button
                [routerLink]="['/editContact', contactIndex]"
                routerLinkActive="router-link-active"
            >
                Edytuj
            </button>

            <button
                (click)="handleMessageSend()"
                mat-raised-button
            >
                {{contact.type | MessageDisplayValue}}
            </button>
        </mat-card-actions>

    </mat-card>
</tr>
