<div>
    <tbody>
        <!--  -->
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Street name</mat-label>
                    <input
                        name="Street name"
                        matInput
                        type="text"
                        [formControl]="streetNameCtrl"
                    >
                </mat-form-field>
            </td>
        </tr>
        <!--  -->
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Street number</mat-label>
                    <input
                        name="Street number"
                        matInput
                        type="text"
                        [formControl]="streetNumberCtrl"
                    >

                </mat-form-field>
            </td>
        </tr>
        <!--  -->
        <tr>
            <td>
                <mat-form-field appearance="fill">
                    <mat-label>Home number</mat-label>
                    <input
                        name="Home number"
                        matInput
                        type="text"
                        [formControl]="homeNumberCtrl"
                    >
                </mat-form-field>
            </td>
        </tr>

    </tbody>

</div>
