<mat-divider></mat-divider>
<div
    class="container"
    *ngIf="(jokeDataReceiver$ | async) as dataToDisplay "
>

    <div>
        <app-custom-mat-spinner></app-custom-mat-spinner>
    </div>

    <div
        class="display-container"
        *ngIf="dataToDisplay.type === jokerTypes.single then single else twopart "
    ></div>

    <ng-template #single>
        <mat-card>{{dataToDisplay.joke}}</mat-card>
    </ng-template>

    <ng-template #twopart>
        <mat-card>
            <ul>
                <li>{{dataToDisplay.twoPartJokeQuostion}}</li>
                <li>{{dataToDisplay.twoPartJokeAnswer}}</li>
            </ul>
        </mat-card>

    </ng-template>

</div>
