<form
    [formGroup]="contactForm"
    (submit)="onSubmit()"
    class="contact-form"
>
    <table>
        <tbody>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Contact name</mat-label>
                        <input
                            placeholder="Contact name"
                            matInput
                            type="text"
                            [formControl]="contactNameCtrl"
                        >
                    </mat-form-field>
                    <mat-error *ngIf="contactNameCtrl.hasError('required')">
                        Contact name is
                        <strong>required</strong>
                    </mat-error>
                </td>
            </tr>

            <!-- COLORPICKER -->
            <app-colorpicker-form
                (selectedColorEmitted)="getSelectedColor($event)"
                [bgcColor]="colorPickerCtrl.value"
            ></app-colorpicker-form>
            <mat-error *ngIf="colorPickerCtrl.hasError('required')">
                Picking contact color is
                <strong>required</strong>
            </mat-error>

            <!-- TYPE OF CONTACT -->
            <tr>
                <td>
                    <mat-form-field
                        appearance="fill"
                        class="select-option"
                    >
                        <mat-label>Select contact type</mat-label>
                        <mat-select
                            placeholder="Select contact type"
                            type="select"
                            matInput
                            [formControl]="contactTypeCtrl"
                        >
                            <mat-option
                                class="select-option"
                                *ngFor="let option of selectOptions"
                                [value]="option.value"
                            >
                                {{option.value | DispalyContactValue}}
                            </mat-option>

                        </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="contactTypeCtrl.hasError('required')">
                        Contact type is
                        <strong>required</strong>
                    </mat-error>
                </td>
            </tr>

            <!-- EMAIL -->
            <div *ngIf="contactTypeEmailCtrl">
                <app-email-form [emailControl]="contactTypeEmailCtrl"></app-email-form>
            </div>
            <!-- PHONE -->
            <div *ngIf="contactTypePhoneCtrl">
                <app-phone-form [phoneControl]="contactTypePhoneCtrl"></app-phone-form>
            </div>

            <!-- ADRESS -->
            <div *ngIf="contactTypeAdressCtrl">
                <app-adress-form [adressFromControl]="contactTypeAdressCtrl"></app-adress-form>
            </div>

        </tbody>
    </table>

    <div *ngIf="contact then editContact else newContact"></div>
    <ng-template #newContact>
        <button
            type="submit"
            mat-raised-button
            color="accent"
        >
            Add contact
        </button>
    </ng-template>

    <ng-template #editContact>
        <button
            type="submit"
            mat-raised-button
            color="accent"
        >
            Edit contact
        </button>
    </ng-template>

</form>

<button
    mat-raised-button
    color="accent"
    [routerLink]="['/']"
>
    Back
</button>
