<div>
    <!-- #abstractTable
        [data]="products"
        [tableColumns]="productColumnsDef"
        [isPageable]="true"
        [paginationSizes]="[2,5,10]"
        [removeButton]="'remove'"
        [editButton]="'edit'"
        (rowDataDeleted)="handleRowDelete($event)"
        (rowDataEdited)="handleRowEdit($event)"
        [additionalColumns]="['definicja', 'Remove']"
        (sortDataEmitted)="handleSort($event)" -->

    <!-- <app-abstract-table [data]="[]"></app-abstract-table>
</div> -->

    <!-- https://prod.liveshare.vsengsaas.visualstudio.com/join?9A5893D1B352362A0C22FADFFFDA19DEC9D3 -->
    okokok
</div>

<div>okok</div>
