<ng-template #customTabButtons>
    <div class="custom-class">
        <button
            class="tab-button"
            (click)="login()"
        >
            {{loginText}}
        </button>
        <button
            class="tab-button"
            (click)="signUp()"
        >
            {{signUpText}}
        </button>
    </div>
</ng-template>

<!-- <ng-container [ngTemplateOutlet]="customTabButtons"></ng-container> -->

<ng-template
    #estimateTemplate
    let-lessonsCounter="estimate"
>
    <div></div>
</ng-template>
<ng-container *ngTemplateOutlet="estimateTemplate;context:ctx"></ng-container>
