.selected {
  opacity: 0.75;
  font-size: 0.75em;
}

.form-container {
  display: flex;
  // justify-self: center;
  // margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
}

.category-section {
}

.button-container {
  display: flex;
}

.submit-button {
  margin: 0 auto;
}
