<div class="form-container">
    <form
        class="form"
        [formGroup]="jokesForm"
        (submit)="onSubmit()"
    >

        <section class="category-section">
            <custom-mat-select
                name="category-control"
                [label]="'Select joke category'"
                [control]="categoryFormCtrl"
                [selectValues]="categories"
                [multiple]="true"
            ></custom-mat-select>

        </section>

        <section>
            <custom-mat-select
                name="joke-type-control"
                [control]="jokeTypeCtrl"
                [label]="'Select joke type'"
                [selectValues]="jokeTypes"
                [multiple]="true"
            >
            </custom-mat-select>
        </section>

        <section>
            <custom-mat-select
                name="blacklisted-jokes-control"
                [control]="blackListCtrl"
                [label]="'I would rather not joke about..'"
                [selectValues]="blacklistCategories"
                [multiple]="true"
            >
            </custom-mat-select>
        </section>

        <div class="button-container">
            <button
                class="submit-button"
                mat-raised-button
                type="submit"
            >
                Make me laugh!
            </button>
        </div>

    </form>

</div>
