<div class="form-container">
    <form
        [formGroup]="jokesForm"
        (submit)="onSubmit()"
    >

        <section class="category-section">
            <mat-form-field appearance="fill">
                <mat-label>Selected joke categories</mat-label>
                <mat-select
                    [formControl]="categoryFormCtrl"
                    multiple
                >
                    <mat-select-trigger></mat-select-trigger>
                    <mat-option
                        *ngFor="let category of categories"
                        [value]="category"
                    >
                        {{category}}
                    </mat-option>
                </mat-select>
                <span class="selected">
                    <div *ngFor="let selectedCategory of categoryFormCtrl.value">{{selectedCategory | uppercase}}</div>
                </span>
            </mat-form-field>

        </section>

        <section>
            <custom-mat-select
                name="joke-type-control"
                [control]="jokeTypeCtrl"
                [label]="'Select joke type'"
                [selectValues]="jokeTypes"
                [multiple]="true"
            >

            </custom-mat-select>

        </section>

        <button
            mat-raised-button
            type="submit"
        >
            Submit
        </button>

    </form>

</div>
