<div>
    <form [formGroup]="editDataForm">

        <custom-mat-input
            class="custom-input"
            [control]="userNameCtrl"
            placeHolder="eg. example user"
            [inputLabel]="'User name'"
            [name]="'username'"
        ></custom-mat-input>

        <custom-mat-input
            [control]="emailCtrl"
            placeHolder="eg. email@email.com"
            [inputLabel]="'Email adress'"
            [name]="'email'"
        ></custom-mat-input>

        <custom-mat-select
            [control]="accountTypeCtrl"
            [selectValues]="accountTypeDict"
        ></custom-mat-select>

        <div
            *ngIf="nipNumberCtrl"
            name="nip"
            ngDefaultControl
        >
            <custom-mat-input
                [control]="nipNumberCtrl"
                [type]="'text'"
                placeHolder="eg. 1111-111-11-1"
                [inputLabel]="'NIP'"
                [name]="'nipNumber'"
                [isNipControl]="true"
            ></custom-mat-input>
        </div>
        <data-preview></data-preview>

    </form>

</div>
