<div>
    <app-abstract-table
        #abstractTable
        [data]="products"
        [tableColumns]="productColumnsDef"
        [isPageable]="true"
        [paginationSizes]="[2,5,10]"
        [removeButton]="'remove'"
        [editButton]="'edit'"
        (rowDataDeleted)="handleRowDelete($event)"
        (rowDataEdited)="handleRowEdit($event)"
        [additionalColumns]="['definicja', 'remove']"
        (sortDataEmitted)="handleSort($event)"
    >
        <div class="definicja">dupa</div>

        <ng-container
            matColumnDef="definicja"
            class="definicja"
        >
            <th
                mat-header-cell
                *matHeaderCellDef
            >
                Header
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                <button>dodatkowa</button>
            </td>
        </ng-container>

        <!-- <ng-container
            matColumnDef="button"
            class="Remove"
        >
            <th
                mat-header-cell
                *matHeaderCellDef
            >
                Additional
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                <button>Remove</button>
            </td>
        </ng-container> -->

    </app-abstract-table>
</div>
