<div>
    <app-abstract-table
        #abstractTable
        [data]="products"
        [tableColumns]="productColumnsDef"
        [isPageable]="true"
        [paginationSizes]="[2,5,10]"
        [removeButton]="'remove'"
        [editButton]="'edit'"
        (rowDataDeleted)="handleRowDelete($event)"
        (rowDataEdited)="handleRowEdit($event)"
        (sortDataEmitted)="handleSort($event)"
    >

        <ng-container matColumnDef="Status handler">
            <th
                mat-header-cell
                *matHeaderCellDef
            >
                Change status
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                <button
                    (click)="handleAvailabilityStatus(element.id)"
                    mat-raised-button
                >
                    Change availaibility
                </button>
            </td>
        </ng-container>

        <!-- <ng-container
            matColumnDef="button"
            class="Remove"
        >
            <th
                mat-header-cell
                *matHeaderCellDef
            >
                Additional
            </th>
            <td
                mat-cell
                *matCellDef="let element"
            >
                <button>Remove</button>
            </td>
        </ng-container> -->

    </app-abstract-table>
</div>
